#taiga-options, 
#taiga-wizard {
  background-color: -moz-dialog!important;
}

#taiga-project-list .listcell-icon {
  max-height: 26px;
  margin: 3px;
}

#taiga-options label,
#taiga-wizard label {
  margin: 5px;
}

#taiga-wizard description {
  font-size: 80%;
  margin: 5px;
  color: #AAA;
}

#taiga-wizard hr {
  border-top: 1px solid #DDD;
  margin-top: 5px;
  margin-bottom: 5px;
}

#taiga-wizard textbox.body {
  font-size: 13px;
}

#taiga-wizard .wizard-header-label {
  font-weight: normal;
  margin: 0;
  margin-left: 15px;
}

/*



#final-messages {
  border: none !important;
  background: none !important;
  overflow: hidden !important;
}

#state {
  margin: 4px;
  width: 30px;
  height: 30px;
}

#attachmentList {
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#attachmentIcon {
  list-style-image: url("chrome://messenger/skin/icons/filterbar.png");
  -moz-image-region: rect(0px, 80px, 16px, 64px);
  margin-inline-start: 5px;
  margin-left: 10px;
}

#attachmentName:hover,
#attachmentName[selected="true"] {
  cursor: pointer;
  color: HighlightText;
  background-color: Highlight;
}

#attachmentSize {
  margin: 0;
  margin-right: 6px;
  margin-inline-start: 8px;
  color: #888a85; 
}
*/
