#taiga-options, #taiga-create-ticket {
  background-color: -moz-dialog!important;
}

label {
  margin: 5px;
}

description {
  font-size: 80%;
  margin: 5px;
  color: #AAA;
}

description i {
  font-style: italic;
  white-space: pre-wrap;
}

hr {
  border-top: 1px solid #DDD;
  margin-top: 5px;
  margin-bottom: 5px;
}

#state {
  margin: 4px;
  width: 30px;
  height: 30px;
}

textbox.body {
  font-size: 13px;
}
