#taiga-options, #taiga-create-ticket {
  background-color: -moz-dialog!important;
}

#taiga-options label {
  margin: 5px;
}

#taiga-options description {
  font-size: 80%;
  margin: 5px;
  color: #AAA;
}

#taiga-options description i {
  font-style: italic;
}

#taiga-options hr {
  border-top: 1px solid #DDD;
  margin-top: 5px;
  margin-bottom: 5px;
}

#taiga-options #state {
  margin: 4px;
  width: 30px;
  height: 30px;
}
